@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  /* globals.css (example if you're adding custom styles) */
:root {
  --primary-color: #ffffff;
  --secondary-color: #ffc107;
  --background-color: #000;
  --text-color: #fff;
  --card-bg-color: #111;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

}
